.home-page {
  display: flex;
  position: relative;
}

@media (max-width: 576px) {
  .home-page {
    flex-direction: column;
  }
}

.presentation {
  padding: 16px 16px 16px 16px;

  h2 {
    margin: 16px 0;
  }
}

@media (min-width: 576px) {
  .presentation {
    padding: 16px 16px 16px 156px;
  }
}
