<div class="profile-card text-center">

  <div class="light-green-background">
    <%= image_tag "https://avatars.githubusercontent.com/u/77100379?v=4", alt: "alttext", class: "avatar-xl" %>
    <h2>
      Michaël
      <br>
      Gastal
    </h2>
    <p>
      CONCEPTEUR - DEVELOPPEUR
      <br>
      D'APPLICATIONS WEB
      <br>
      FULL-STACK
    </p>
  </div>

  <div class="social-networks">
    <a href="https://www.linkedin.com/in/michael-gastal" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://www.github.com/michael-gastal" target="_blank"><i class="fab fa-github"></i></a>
  </div>

</div>









