<div class="home-page">

  <div class="profile-card text-center col-lg-3 col-sm-5 col-xs-12 offset-lg-1">

    <div class="profile-main-section light-green-background">
      <div class="round gray-background">
      </div>
      <%= image_tag "https://avatars.githubusercontent.com/u/77100379?v=4", alt: "Avatar of Michael", class: "avatar-xl" %>
      <h2>
        Michaël
        <br>
        Gastal
      </h2>
      <p>
        CONCEPTEUR - DEVELOPPEUR
        <br>
        D'APPLICATIONS WEB
        <br>
        FULL-STACK
      </p>
    </div>

    <div class="social-networks white-background">
      <a href="https://www.linkedin.com/in/michael-gastal" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.github.com/michael-gastal" target="_blank"><i class="fab fa-github"></i></a>
    </div>

  </div>

  <div class="presentation gray-background text-white col-lg-8 col-sm-8 col-xs-12 offset-lg-3 offset-sm-4">
    <h1 class="text-center">Bonjour</h1>
    <h2 class="text-center">
      Je suis Michaël,
      <br>
      votre Concepteur - Développeur
      <br>
      d'applications Web full-stack
    </h2>
    <h2 class="text-center">💻</h2>
    <p>Formé par Le Wagon Marseille, j'ai obtenu ma <strong>certification de niveau VI (bac +4)</strong>.</p>
    <p>Après 10 semaines de formation intensive, je maîtrise à présent <strong>la POO, l'architecture MVC, Ruby, Ruby on Rails, JavaScript, Html, CSS et Bootstrap</strong>.</p>
    <p>Je conçois et développe des applications Web de A à Z en mettant le <strong>client au coeur de la problématique</strong>.</p>
    <p>Je maîtrise <strong>Git & Github</strong> et je sais déployer sur <strong>Heroku</strong>.</p>
    <p>Je sais gérer les bases de données en <strong>SQL, MySQL et PostgreSQL</strong>.</p>
    <p>Je sais gérer les autorisations et les authentifications, notamment avec les gems <strong>Devise et Pundit</strong>.</p>
    <p>Ayant à coeur de proposer un <strong>code propre et fonctionnel</strong>, je pratique le <strong>TDD</strong> et le <strong>refactoring</strong>.</p>
  </div>

</div>
