.profile-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  .social-networks {
    font-size: 24px;
    padding: 12px 0;

    a {
      color: #95d5b2;
      padding: 0 8px;

      &:hover{
        color: $green;
      }
    }
  }
}

@media (min-width: 576px) {
  .profile-card {
    position: absolute;
    top: 86px;
  }


  .round {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.profile-main-section {
  padding: 32px 16px;
  position: relative;
  h2 {
    padding: 8px 0;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
