.navbar-cv {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.navbar-cv a {
  color: $green;
  &:hover {
    text-decoration: none;
  }
}

.navbar-cv .home-link {
  font-size: 24px;
}

.navbar-cv .right-links .navbar-link {
  padding-left: 8px;
}
