.navbar {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  min-height: 58px;
}

.navbar-cv {
  background-color: $green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-cv .navbar-collapse {
  flex-grow: 0;
}

.navbar-cv a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-cv .home-link{
  font-size: 24px !important;
}

.navbar-cv .right-links .navbar-link {
  padding: 17px 8px;
}

.navbar-active {
  background-color: white!important;
  color: $green !important;
  border-radius: 6px 6px 0 0;
  margin-top: 4px !important;
  padding-bottom: 17px !important;
  padding-top: 13px !important;
}
